@media (max-width: 767px){


    .header{
        padding-top: 147px;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        background-image: url(img/mobile_star.png),url(img/header_stars_1.png),url(img/header_stars_2.png);
        background-position:
        top -100px right -100px,
        top 64px left 37px,
        bottom 28px right 34px;
        background-size: auto, 80px, 80px;

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 131px;
        }

        &__title{
            font-size: 30px;
            line-height: 49px;
            text-align: center;
        }

        &__surttitle{
            padding-bottom: 36px;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }

        &__button {
            width: 285px;
            height: 55px;
            font-size: 16px;

        }
    }

    .line {
        height: 51px;
        padding-left: 27px;
        padding-right: 27px;
        gap: 27px;

        &__body{
            font-size: 16px;
        }

        & svg {
            min-width: 19px;
            min-height: 19px;
        }
    }

    .card {
        padding-top: 48px;

        &__title{
            font-size: 40px;
            line-height: 49px;
            padding-bottom: 48px;
        }

        &__body {
            display: none;
        }

        &__games {
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
            align-items: end;
            gap: 24px 16px; 
        }

        &__game{
            width: 100%;
        }

        &__game:hover{
        cursor: pointer;
        transform: scale(1.05);
        }

        &__game_top-line{
        margin-top: 0;        
        }
        &__game_bottom-line{
            margin-bottom: 0;        
        }
    }
    .card{
        display: none;
    }
    .mini-games {
    padding-top: 48px;
    background-image: none;
    padding-bottom: 10px;
}

.mini-games__title {
    padding-bottom: 48px;
    font-size: 40px;
    line-height: 49px;
}

.mini-games__body {
    gap: 24px;
}

.mini-games__game {
    height: 100%;
    flex-direction: column-reverse;
}

.mini-games__game-content {
    padding: 20px 20px 30px 20px;
}

.mini-games__game-title {
    font-size: 32px;
    line-height: 39px;
}
.mini-games__game-img{
    width: 100%;
}
.mini-games__game-description {
    font-size: 16px;
    line-height: 20px;
}

.mini-games__game-button {
    height: 55px;
    width: 200px;
    font-size: 16px;
}
.mini-games__game-img {
        width: 100%;
    } 
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
}
